@import 'flexbox';
@import 'mixins';
@import 'variables';

section#main{
    width: 100%;
    max-width: 1100px;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    margin: auto;
    border-top: 10px solid $orange;
    @include border_radius( 5px );
}