@font-face {
    font-family: 'Supercell-Magic';
    src: url('./assets/fonts/Supercell-Magic.eot');
    src: url('./assets/fonts/Supercell-Magic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Supercell-Magic.woff2') format('woff2'),
        url('./assets/fonts/Supercell-Magic.woff') format('woff'),
        url('./assets/fonts/Supercell-Magic.ttf') format('truetype'),
        url('./assets/fonts/Supercell-Magic.svg#Supercell-Magic') format('svg');
    font-weight: normal;
    font-style: normal;
}