@import 'flexbox';
@import 'variables';

div.table{
    width: 100%;
    padding: 15px;
    background-color: rgba(0,0,0,0.8);

    div.table__header{
        padding-bottom: 20px;
        @include flexbox;

        strong{
            text-align: center;
            color: white;
            font-weight: bold;
            @include flex( 0, 0, calc( 100% / 4 ) );
        }
    }

    div.table__content{
        max-height: 250px;
        overflow-y: auto;

        .row {
            padding: 10px 15px;
            @include flexbox;

            &:nth-child(odd){
                background-color: rgba(0,0,0,0.5);
            }

            > div{
                text-align: center;
                color: white;
                @include flex( 0, 0, calc( 100% / 4 ) );     
                @include flexbox;
                @include align-items( center );
                @include justify-content( center );

                &.badge{
                    @include flexbox;
                    @include flex-flow( row wrap );

                    div.image{
                        @include flex( 0,0, 20% );
                        img{
                            width: 100%;
                            max-width: 70px;
                        }
                    }
                    div.infos{
                        @include flex( 0,0, 80% );
                        @include flex-flow( row wrap );

                        h3{
                            margin-bottom: 10px;
                            color: $orange;
                            font-size: 1em;
                            font-family: 'Supercell-Magic', Arial, Helvetica, sans-serif;
                            cursor: pointer;
                            @include flex-basis( 100% );
                        }
                        small{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and ( max-width: 480px ){
    div.table-wrapper{
        display: block;
        width: 100%;
        max-width: 350px;
        overflow: auto;

        div.table{
            width: 300%;
            display: block;
        }
    }
}