<article class="search-tag-container">
  
  <div class="search-tag__title">
    <h2>Buscar por TAG</h2>
  </div>
  
  <div class="search-tag__content">
    <form [formGroup]="searchTagForm" (ngSubmit)="onSubmit()">
      
      <div class="input-wrapper">
        <label for="tagName">Tag do Clã</label>
        <input type="text" name="tagName" id="tagName" formControlName="tagName" placeholder="TAG do Clã">
      </div>

      <div class="cta-wrapper">
        <button type="submit" class="btn btn-default" [disabled]="searchTagForm.invalid">Buscar</button>
      </div>
      
    </form>
  </div>
  
</article>

<app-load [show]="loading"></app-load>